backend/youtube-api-caller/enwiki_20180420_win10_100d.txt.bz2
backend/youtube-api-caller/client_secret.json
backend/youtube-api-caller/postgresql_password.txt
backend/youtube-api-caller/.ipynb_checkpoints/*
backend/youtube-api-caller/__pycache__/*