//  Card Element Styling   --- NOTE: May consider adding functionality for more box-shadow variations. ---
.card {
    display:        inline-block;
    width:          $crd-width;
    box-shadow:     $crd-shadow-default;
    border-radius:  4px;
    border:         $crd-border-default;
    margin:         $crd-margin;
    cursor:         pointer;
    overflow:       hidden;
    // transition: all 0.2s ease-in-out;

    // &:hover {
    //     transform: scale(1.01);
    //     box-shadow: $crd-shadow-hover-default;
    // }
}

.card.flat {
    box-shadow:     $crd-shadow-flat;
    border:         $crd-border-flat;
}

.card .preview {
    display:        block;
    position:       relative;
    text-align:     right;
    height:         166.5px;
    background:     map-get($neutrals, "black");
    overflow:       hidden;
}

.card.flat .preview {
    border-radius: $crd-preview-border-radius-flat;
}

.card .preview img {
    display:    block;
    width:      100%;
    height:     166.5px;
    object-fit: cover;
}

.card .duration {
    display:            inline-block;
    position:           absolute;
    background-color:   $crd-duration-background-color;
    font-size:          $crd-duration-font-size;
    color:              $crd-duration-color;
    bottom:             $crd-duration-bottom;
    right:              $crd-duration-right;
    margin:             $crd-duration-margin;
    padding:            $crd-duration-padding;
    border-radius:      2px;
}

.card .details {
    padding:        $crd-details-padding;
}

.card .title {
    font-size:      $crd-title-font-size;
    font-weight:    $crd-title-font-weight;
    line-height:    $crd-title-line-height;
    margin-bottom:  $crd-title-margin-bottom;
}

.card .content-creator, .card .views, .card .published {
    font-size:      $crd-details-sub-font-size;
    line-height:    $crd-details-sub-line-height;
    color:          $crd-details-sub-color;
}

.card .content-creator {
    cursor: pointer;

    & > a, & > a:visited {
        all: unset;
    }

    & > a:hover {
        color:  $crd-details-sub-hover-color;
    }

    &::after {
        content: '\f167';
        font-family: "Font Awesome 5 Brands";
        margin-left: 8px;
    }

    &:hover::after {
        color:  $red;
    }
}

.card .views, .card .published {
    display:    inline-block;
}

.card .views::after {
    content:    $crd-views-after-content;
}