//  Layout Styling
    html, body {
        margin: 0;
        padding: 0;
    }

    .full-width-container {
        display: block;
        padding: $full-width-padding;
    }

    .color-section {
        display: block;
        position: absolute;
        top: 500px;
        left: 0;
        right: 0;
        height: 540px;
        z-index: map-get($z-index, "100");
    }

    @each $color1, $value1 in $theme-colors {
        @each $color2, $value2 in $theme-colors {
            .color-section.#{$color1}-#{$color2} {
                background: $value1;                                                //  fallback for old browsers
                background: linear-gradient(to bottom right, $value2, $value1);
            }
        }
    }

    .content-container {
        display:        block;
        position:       relative;
        background:     $white;
        max-width:      720px;
        box-shadow:     $crd-shadow-default;
        border-radius:  4px;
        border:         $crd-border-default;
        padding:        .5em map-get($padding, "4.5");
        margin:         2.5em auto 5em;
        overflow:       hidden;
        z-index:        map-get($z-index, "300");
    }