//  Nav Bar Element Styling
    .nav-bar {
        display:        flex;
        position:       sticky;
        top:            0;
        left:           0;
        right:          0;
        height:         $nav-height;
        max-width:      100%;
        line-height:    $nav-line-height;
        flex-direction: row;
        z-index:        $nav-z-index;
        padding:        $nav-padding-y $nav-padding-x;
        background:     $nav-background;
        box-shadow:     $nav-box-shadow;
    }

    @each $position, $value in $scroll-positions {
        html[data-scroll="#{$position}"] .nav-bar {
            padding:        calc(#{$nav-scroll-padding-top} - #{$value}) $nav-padding-y calc(#{$nav-scroll-padding-bottom} - 0.4*#{$value});
            background:     $nav-scroll-background;
            box-shadow:     $nav-scroll-box-shadow;
        }
    }

    .nav-bar .logo-container {
        display:        flex;
        height:         100%;
        width:          $nav-logo-width;
        margin:         $nav-logo-margin;
    }

    .nav-bar .profile_icon {
        display:        flex;
        position:       relative;
        height:         40px;
        border-radius:  50%;
        border:         solid 0.5px #eeeeee;
        overflow:       hidden;
        margin-right:   16px;    
    }

    .nav-bar .logo-container img, .nav-bar .profile_icon img {
        height: 100%;
        cursor: pointer;
    }

    .nav-bar .nav-link {
        display:        flex;
        width:          $nav-link-width;
        vertical-align: top;
        margin:         $nav-link-margin;
        font-weight:    $nav-link-font-weight;
        cursor:         pointer;

        a {
            all: inherit;
        }

        a:focus {
            color:      $nav-link-hover-color;
        }

        a:hover {
            color:      $nav-link-hover-color;
        }
    }

    .nav-bar .search {
        display:        flex;
        position:       relative;
        top:            $nav-search-top;
        height:         $nav-search-height;
        margin:         $nav-search-margin;
    }

    .nav-bar .signin-container {
        display:        flex;
        position:       relative;
        top:            $nav-signin-top;
        height:         $nav-signin-height;
    }

    .nav-bar .signin-container button, .nav-bar .signin-container .btn {
        margin: $nav-signin-button-margin;
    }

    .nav-bar .signin-container .menu-button {
        all: unset;
        display: flex;
        height: max-content;
        border: solid 1px transparent;
        padding: 2px 8px;
        position: relative;
        top: -9px;
        border-radius: 4px;
        cursor: pointer;

        &:hover, &.focus {
            border-color: map-get($neutrals, "400");
        }

        & .username {
            position: relative;
            top: 9px;
            margin-right: 16px;
            max-width: 200px;
            overflow: hidden;
        }

        & i {
            position: relative;
            top: 3.5px;
            padding: 8px;
        }       
    }

    .nav-bar .signin-container .menu {
        display: none;
        position: absolute; 
        top: calc(30px + 1.25em);    
        left: 0;   
        right: 0;
        background: white;
        border: solid 1px rgb(186, 186, 186);
        border-radius: 4px;   
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        transition: height 0.5s ease-in-out;

        &.active {
            display: block;
        }

        & div {
            padding: 16px;
            cursor: pointer;
        }

        & div:hover {
            background-color: map-get($theme-colors, "light");
        }

        & div i {
            margin-right: 16px;
        }

        & .signout {
            border-top: solid 1px rgb(186, 186, 186);
        }

        & .signout:hover {
            background-color: #FCC5C2;
        }
    }
