//  Variables
//
//  Variables should follow the `$component-state-property-size` formula for
//  consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//  Color System
    //  Neutrals
        $white:     #ffffff !default;
        $gray-50:   #fafafa !default;
        $gray-100:  #f5f5f5 !default;
        $gray-200:  #eeeeee !default;
        $gray-300:  #e0e0e0 !default;
        $gray-400:  #bdbdbd !default;
        $gray-500:  #9e9e9e !default;
        $gray-600:  #757575 !default;
        $gray-700:  #616161 !default;
        $gray-800:  #424242 !default;
        $gray-900:  #212121 !default;
        $black:     #000000 !default;

        $grays: () !default;
        $grays: map-merge(
            (
                "white":    $white,
                "50":       $gray-50,
                "100":      $gray-100,
                "200":      $gray-200,
                "300":      $gray-300,
                "400":      $gray-400,
                "500":      $gray-500,
                "600":      $gray-600,
                "700":      $gray-700,
                "800":      $gray-800,
                "900":      $gray-900,
                "black":    $black
            ),
            $grays
        );

        //  Cool Neutrals
            $cool-gray-50:  #eceff1 !default;
            $cool-gray-100: #cfd8dc !default;
            $cool-gray-200: #b0bec5 !default;
            $cool-gray-300: #90a4ae !default;
            $cool-gray-400: #78909c !default;
            $cool-gray-500: #607d8b !default;
            $cool-gray-600: #546e7a !default;
            $cool-gray-700: #455a64 !default;
            $cool-gray-800: #37474f !default;
            $cool-gray-900: #263238 !default;

            $cool-grays: () !default;
            $cool-grays: map-merge(
                (
                    "white":    $white,
                    "50":       $cool-gray-50,
                    "100":      $cool-gray-100,
                    "200":      $cool-gray-200,
                    "300":      $cool-gray-300,
                    "400":      $cool-gray-400,
                    "500":      $cool-gray-500,
                    "600":      $cool-gray-600,
                    "700":      $cool-gray-700,
                    "800":      $cool-gray-800,
                    "900":      $cool-gray-900,
                    "black":    $black
                ),
                $cool-grays
            );

        //  Warm Neutrals   --- NOTE: Check these values ---
            $warm-gray-50:  #f1efec !default;
            $warm-gray-100: #dcd8cf !default;
            $warm-gray-200: #c5beb0 !default;
            $warm-gray-300: #aea490 !default;
            $warm-gray-400: #9c9078 !default;
            $warm-gray-500: #8b7d60 !default;
            $warm-gray-600: #7a6e54 !default;
            $warm-gray-700: #645a45 !default;
            $warm-gray-800: #4f4737 !default;
            $warm-gray-900: #383226 !default;

            $warm-grays: () !default;
            $warm-grays: map-merge(
                (
                    "white":    $white,
                    "50":       $warm-gray-50,
                    "100":      $warm-gray-100,
                    "200":      $warm-gray-200,
                    "300":      $warm-gray-300,
                    "400":      $warm-gray-400,
                    "500":      $warm-gray-500,
                    "600":      $warm-gray-600,
                    "700":      $warm-gray-700,
                    "800":      $warm-gray-800,
                    "900":      $warm-gray-900,
                    "black":    $black
                ),
                $grays
            );

        $neutrals: $warm-grays;

    //  Colors  --- NOTE: Check these values ---
        $red:           #f00000 !default;
        $crimson:       #f85032 !default;
        $orange:        #fd7e14 !default;
        $amber:         #ffbf00 !default;
        $yellow:        #f9d423 !default;
        $lime:          #d4e157 !default;
        $light-green:   #9ccc65 !default; 
        $green:         #28a745 !default;
        $teal:          #20c997 !default;
        $cyan:          #17a2b8 !default;
        $light-blue:    #56CCF2 !default;
        $blue:          #2F80ED !default;
        $indigo:        #6610f2 !default;
        $purple:        #6f42c1 !default;
        $pink:          #e83e8c !default;

        $colors: () !default;
        $colors: map-merge(
            (
                "white":        $white,
                "black":        $black,
                "brown":        $warm-gray-700,
                "red":          $red,
                "crimson":      $crimson,
                "orange":       $orange,
                "amber":        $amber,
                "yellow":       $yellow,
                "lime":         $lime,
                "light-green":  $light-green,
                "green":        $green,
                "teal":         $teal,
                "cyan":         $cyan,
                "light-blue":   $light-blue,
                "blue":         $blue,
                "indigo":       $indigo,
                "purple":       $purple,
                "pink":         $pink
            ),
            $colors
        );

    //  Theme Colors
        $primary:       $blue !default;
        $secondary:     $light-blue !default;
        $success:       $green !default;
        $info:          $cyan !default;
        $warning:       $yellow !default;
        $danger:        $red !default;
        $light:         map-get($neutrals, "100") !default;
        $dark:          map-get($neutrals, "800") !default;
        
        $theme-colors: () !default;
        $theme-colors: map-merge(
            (
                "primary":      $primary,
                "secondary":    $secondary,
                "success":      $success,
                "info":         $info,
                "warning":      $warning,
                "danger":       $danger,
                "light":        $light,
                "dark":         $dark,
            ),
            $theme-colors
        );

//  Layout
    //  Padding
        $padding-0:     0px;
        $padding-1:     2px;
        $padding-2:     4px;
        $padding-3:     8px;
        $padding-3-5:   12px;
        $padding-4:     16px;
        $padding-4-5:   24px;
        $padding-5:     32px;
        $padding-6:     64px;
        $padding-7:     128px;
        $padding-8:     256px;
        $padding-9:     512px;

        $padding: () !default;
        $padding: map-merge(
            (
                "0":    $padding-0,
                "1":    $padding-1,
                "2":    $padding-2,
                "3":    $padding-3,
                "3.5":  $padding-3-5,
                "4":    $padding-4,
                "4.5":  $padding-4-5,
                "5":    $padding-5,
                "6":    $padding-6,
                "7":    $padding-7,
                "8":    $padding-8,
                "9":    $padding-9
            ),
            $padding
        );
    
    //  Margin
        $margin-0:      0px;
        $margin-1:      2px;
        $margin-2:      4px;
        $margin-3:      8px;
        $margin-4:      16px;
        $margin-4-5:    24px;
        $margin-5:      32px;
        $margin-6:      64px;
        $margin-7:      128px;
        $margin-8:      256px;
        $margin-9:      512px;

        $margin: () !default;
        $margin: map-merge(
            (
                "0":    $margin-0,
                "1":    $margin-1,
                "2":    $margin-2,
                "3":    $margin-3,
                "4":    $margin-4,
                "4.5":  $margin-4-5,
                "5":    $margin-5,
                "6":    $margin-6,
                "7":    $margin-7,
                "8":    $margin-8,
                "9":    $margin-9
            ),
            $margin
        );

    //  Z-Index Master List
        $z-index-0: 0;
        $z-index-1: 100;
        $z-index-2: 200;
        $z-index-3: 300;
        $z-index-4: 400;
        $z-index-5: 500;
        $z-index-6: 600;
        $z-index-7: 700;
        $z-index-8: 800;
        $z-index-9: 900;

        $z-index: () !default;
        $z-index: map-merge(
            (
                "0": $z-index-0,
                "100": $z-index-1,
                "200": $z-index-2,
                "300": $z-index-3,
                "400": $z-index-4,
                "500": $z-index-5,
                "600": $z-index-6,
                "700": $z-index-7,
                "800": $z-index-8,
                "900": $z-index-9
            ),
            $z-index
        );

    //  Breakpoints
        $breakpoints: (
            xs: 480px,
            sm: 720px,
            md: 960px,
            lg: 1080px,
            xl: 1200px
        ) !default;

        $max-widths: (
            sm: 540px,
            md: 720px,
            lg: 960px,
            xl: 1140px
        ) !default;

    //  Box Shadows
        $shadow-0: 0 1px 2px rgba(0, 0, 0, 0.04);
        $shadow-1: 0 2px 4px rgba(0, 0, 0, 0.08);
        $shadow-2: 0 4px 8px rgba(0, 0, 0, 0.08);
        $shadow-3: 0 8px 16px rgba(0, 0, 0, 0.10);
        $shadow-4: 0 16px 32px rgba(0, 0, 0, 0.12);
        $shadow-5: 0 32px 64px rgba(0, 0, 0, 0.16);
        $shadow-6: 0 64px 128px rgba(0, 0, 0, 0.20);

        $shadows: () !default;
        $shadows: map-merge(
            (
                "0": $shadow-0,
                "1": $shadow-1,
                "2": $shadow-2,
                "3": $shadow-3,
                "4": $shadow-4,
                "5": $shadow-5,
                "6": $shadow-6,
            ),
            $shadows
        );

    //  Containers
        $full-width-padding:    0 map-get($padding, "4.5");

        $color-section-margin:  map-get($margin, "6") 0;
        $color-section-padding: map-get($padding, "5") 0;

//  Type
    //  Comment out any unused fonts to reduce load times/download size.
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
    //  @import url('https://fonts.googleapis.com/css2?family=Literata&display=swap');
    //  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

    $text-sans-serif: 'Work Sans', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    $heading-sans-serif: 'Comfortaa', 'Work Sans', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    $text-serif: 'Literata', Georgia, 'Times New Roman', Times, serif;
    $heading-serif: 'Roboto Slab', 'Literata', Georgia, 'Times New Roman', Times, serif;
    $code-mono: 'Cascadia Code', 'Consolas', 'Courier New', Courier, monospace;

    $default-text: $text-sans-serif;
    $default-heading: $heading-sans-serif;

    //  Size
        $default-font-size: 16px;

    //  Color
        $text-color:    map-get($theme-colors, "dark");
        $link-color:    map-get($theme-colors, "primary");

        $link-visited-hue:  30deg;

    //  Font Weight
        $thin:          100 !default;
        $extra-light:   200 !default;
        $light:         300 !default;
        $regular:       400 !default;
        $medium:        500 !default;
        $semi-bold:     600 !default;
        $bold:          700 !default;
        $extra-bold:    800 !default;
        $black:         900 !default;

        $font-weights: () !default;
        $font-weights: map-merge(
            (
                "thin":         $thin,
                "extra-light":  $extra-light,
                "light":        $light,
                "regular":      $regular,
                "medium":       $medium,
                "semi-bold":    $semi-bold,
                "bold":         $bold,
                "extra-bold":   $extra-bold,
                "black":        $black
            ),
            $font-weights
        );

        $default-font-weight: map-get($font-weights, "regular");

    //  Line Height
        $text-line-height: 1.5 !default;

    //  Headings
        $default-heading:           $default-heading;
        $heading-weight:            map-get($font-weights, "700");
        $heading-letter-spacing:    .067em;
        $heading-line-height:       1.5;
        $heading-color:             $text-color;
        $heading-margin:            map-get($margin, "4") 0;

        $h1-font-size:  2em     !default;
        $h2-font-size:  1.5em   !default;
        $h3-font-size:  1.25em  !default;
        $h4-font-size:  1em     !default;
        $h5-font-size:  .75em   !default;
        $h6-font-size:  .5em    !default;

        $heading-font-size: ()  !default;

        $heading-font-size: map-merge(
            (
                "h1": $h1-font-size,
                "h2": $h2-font-size,
                "h3": $h3-font-size,
                "h4": $h4-font-size,
                "h5": $h5-font-size,
                "h6": $h6-font-size
            ),
            $heading-font-size
        );

//  Button
    $btn-background-color:  $primary;
    $btn-font-size:         12pt;
    $btn-font-weight:       map-get($font-weights, "regular");
    $btn-color:             $white;
    $btn-text-transform:    none;
    $btn-letter-spacing:    normal;
    $btn-padding-x:         map-get($padding, "3");
    $btn-padding-y:         map-get($padding, "2");
    $btn-border-radius:     4px;
    $btn-border:            solid 1.5px $primary;

    $btn-hover-hue:         5deg;

    //  Caps
        $btn-font-size-caps:        10pt;
        $btn-font-weight-caps:      $medium;
        $btn-text-transform-caps:   uppercase;
        $btn-letter-spacing-caps:   1px;

    //  Round
        $btn-padding-x-round:     map-get($padding, "3.5");
        $btn-border-radius-round: 512px;

    //  Outline
        $btn-background-color-outline:  unset;
        $btn-color-outline:             map-get($theme-colors, "primary");

        $btn-hover-font-weight-outline:     map-get($font-weights, "semi-bold");
		$btn-hover-border-width-outline:    2px;
		$btn-hover-padding-outline:			calc(#{map-get($padding, "2")} - 1px) calc(#{map-get($padding, "3")} - 1px);

    //  Varients
        $button-default: () !default;
        $button-default: map-merge(
            (
                "background-color":         $btn-background-color,
                "font-size":                $btn-font-size,
                "font-weight":              $btn-font-weight,
                "color":                    $btn-color,
                "text-transform":           $btn-text-transform,
                "letter-spacing":           $btn-letter-spacing,
                "padding":                  $btn-padding-y $btn-padding-x,
                "border-radius":            $btn-border-radius,
                "border":                   $btn-border
            ),
            $button-default
        );

        $button-outline: () !default;
        $button-outline: map-merge(
            (
                "background-color":     $btn-background-color-outline,
                "color":                $btn-color-outline,
                "hover-font-weight":    $btn-hover-font-weight-outline,
                "hover-border-width":   $btn-hover-border-width-outline,
                "hover-padding":        $btn-hover-padding-outline
            ),
            $button-outline
        );

        $button-round: () !default;
        $button-round: map-merge(
            (
                "padding":          $btn-padding-y $btn-padding-x-round,
                "border-radius":    $btn-border-radius-round,
            ),
            $button-round
        );

        $button-caps: () !default;
        $button-caps: map-merge(
            (
                "font-size":        $btn-font-size-caps,
                "font-weight":      $btn-font-weight-caps,
                "text-transform":   $btn-text-transform-caps,
                "letter-spacing":   $btn-letter-spacing-caps,
            ),
            $button-caps
        );

//  Button Group
    $btn-grp-background-color:  $primary;
    $btn-grp-font-size:         12pt;
    $btn-grp-font-weight:       $regular;
    $btn-grp-color:             $white;
    $btn-grp-text-transform:    none;
    $btn-grp-letter-spacing:    normal;
    $btn-grp-padding-x:         map-get($padding, "3");
    $btn-grp-padding-y:         map-get($padding, "2");
    $btn-grp-border-radius:     4px;
    $btn-grp-border:            solid 1.5px $primary;

    $btn-grp-btn-border:        solid 0 $primary;
    $btn-grp-btn-border-width:  1.5px;

    $btn-grp-hover-hue:         5deg;

//  Caps
    $btn-grp-font-size-caps:        10pt;
    $btn-grp-font-weight-caps:      $medium;
    $btn-grp-text-transform-caps:   uppercase;
    $btn-grp-letter-spacing-caps:   1px;

//  Round
    $btn-grp-padding-x-round:     map-get($padding, "3.5");
    $btn-grp-border-radius-round: 512px;

//  Outline
    $btn-grp-background-color-outline:  unset;
    $btn-grp-color-outline:             map-get($theme-colors, "primary");

//  Varients
    $button-group-default: () !default;
    $button-group-default: map-merge(
        (
            "background-color":             $btn-grp-background-color,
            "font-size":                    $btn-grp-font-size,
            "font-weight":                  $btn-grp-font-weight,
            "color":                        $btn-grp-color,
            "text-transform":               $btn-grp-text-transform,
            "letter-spacing":               $btn-grp-letter-spacing,
            "padding":                      $btn-grp-padding-y $btn-grp-padding-x,
            "border-radius":                $btn-grp-border-radius,
            "border":                       $btn-grp-border,
            "btn-border":                   $btn-grp-btn-border,
            "btn-border-width":             $btn-grp-btn-border-width
        ),
        $button-group-default
    );

    $button-group-outline: () !default;
    $button-group-outline: map-merge(
        (
            "background-color": $btn-grp-background-color-outline,
            "color":            $btn-grp-color-outline,
        ),
        $button-group-outline
    );

    $button-group-round: () !default;
    $button-group-round: map-merge(
        (
            "padding":          $btn-grp-padding-y $btn-grp-padding-x-round,
            "border-radius":    $btn-grp-border-radius-round,
        ),
        $button-group-round
    );

    $button-group-caps: () !default;
    $button-group-caps: map-merge(
        (
            "font-size":        $btn-grp-font-size-caps,
            "font-weight":      $btn-grp-font-weight-caps,
            "text-transform":   $btn-grp-text-transform-caps,
            "letter-spacing":   $btn-grp-letter-spacing-caps,
        ),
        $button-group-caps
    );

//  Card
    $crd-width:     296px;
    $crd-margin:    0 auto;

    $crd-border-default:    solid .5px map-get($neutrals, "200");
    $crd-shadow-default:    map-get($shadows, "2");

    // $crd-shadow-hover-default: map-get($shadows, "3");

    //  Flat
    $crd-border-flat:    none;
    $crd-shadow-flat:    none;

    $crd-preview-border-radius-flat: 4px;

    // Sub-Classes
        $crd-duration-background-color: map-get($neutrals, "900");
        $crd-duration-font-size:        10pt;
        $crd-duration-color:            map-get($theme-colors, "light");
        $crd-duration-bottom:           0;
        $crd-duration-right:            0;
        $crd-duration-margin:           0 map-get($margin, "2") map-get($margin, "2") 0;
        $crd-duration-padding:          map-get($padding, "0") map-get($padding, "2");

        $crd-details-padding:   map-get($padding, "3") map-get($padding, "3.5");

        $crd-title-font-size:       13pt;
        $crd-title-font-weight:     map-get($font-weights, "medium");
        $crd-title-line-height:     1em;
        $crd-title-margin-bottom:   map-get($margin, "2");

        $crd-details-sub-font-size:     11pt;
        $crd-details-sub-line-height:   1em;
        $crd-details-sub-color:         map-get($neutrals, "500");

        $crd-details-sub-hover-color:   map-get($theme-colors, "dark");

        $crd-views-after-content:   ' - ';

//  Nav Bar
    $nav-height:        20px;
    $nav-line-height:   20px;
    $nav-z-index:       map-get($z-index, "700");
    $nav-padding-x:     map-get($padding, "4.5");
    $nav-padding-y:     15px;
    $nav-background:    map-get($neutrals, "white");
    $nav-box-shadow:    map-get($shadows, "3");

    $nav-scroll-padding-top:    40px;
    $nav-scroll-padding-bottom: 25px;
    $nav-scroll-background:     unset;
    $nav-scroll-box-shadow:     unset;

    //  Items
        $nav-item-margin:   0 map-get($margin, "4");

    //  Logo
        $nav-logo-width:    136.4px;
        $nav-logo-margin:   $nav-item-margin;

    //  Link
        $nav-link-width:          47px;
        $nav-link-margin:         $nav-item-margin;
        $nav-link-font-weight:    map-get($font-weights, "medium");
        $nav-link-hover-color:    map-get($neutrals, "black");
    
    //  Search
        $nav-search-top:    -.25em;
        $nav-search-height: 30px;
        $nav-search-margin: 0 auto;

    //  Login
        $nav-login-top:     -.25em;
        $nav-login-height:  30px;
        $nav-login-width:   185px;

        //  Button
            $nav-login-button-margin:   map-get($margin, "0") map-get($margin, "3");

    //  Scroll Reaction
        $scroll-positions: () !default;

        $scroll-positions: map-merge(
            (
                "0": 0px,
                "1": 1px,
                "2": 2px,
                "3": 3px,
                "4": 4px,
                "5": 5px,
                "6": 6px,
                "7": 7px,
                "8": 8px,
                "9": 9px,
                "10": 10px,
                "11": 11px,
                "12": 12px,
                "13": 13px,
                "14": 14px,
                "15": 15px,
                "16": 16px,
                "17": 17px,
                "18": 18px,
                "19": 19px,
                "20": 20px,
                "21": 21px,
                "22": 22px,
                "23": 23px,
                "24": 24px,
                "25": 25px
            ),
            $scroll-positions
        );